.google-data-map {
	height: 500px;
	width: 100%;
	
	.marker-label {
		background-color: white;
		padding: 0.3rem;
	}
	
	.gm-style-cc {
		display: none;
	}
	
	.gm-style .gm-style-iw-c {
		padding-right: 12px !important;
	}
	
	button {
    	height: 30px !important;
    	line-height: 1.5 !important;
	}
	
	button.gm-control-active {
		height: 40px !important;
	}
	
	button[title="Keyboard shortcuts"] {
		display: none !important;
	}
	
	   
}
